@model homework3.Models.Pizza

@{
    ViewData["Title"] = "Dodawanie Pizzy";
}

<h1>Dodaj pizze do bazy</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPizza">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Ścieżka do pliku ze zdjęciem</label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj pizze" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>