@model HomeWork2.Models.Order

@{
    ViewData["Title"] = "Podsumowanie zakupu";
}

<h1>Kup Bilety</h1>

<h4>@ViewBag.film.name</h4>
<h6>Cena (normalny): @ViewBag.film.normalTicketPrice</h6>
<h6>Cena (ulgowy): @ViewBag.film.reducedTicketPrice</h6>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="filmId" type="hidden" value=@ViewBag.film.id />

            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="filmTermin" class="control-label">Termin filmu</label>
                <input asp-for="filmTermin" class="form-control" />
                <span asp-validation-for="filmTermin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="phone" class="control-label">Nr. Telefonu</label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zamów" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

