@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w wirtualnej kasie kinowej</h1>
    <h2>Zapraszmy do zapoznania się z aktualnym repertuarem</h2>
</div>
